.videos-title {
    font-size: 1rem;
    font-weight: 500;
}

.videos-details {
    font-size: 0.9rem;
    color: #606060;
}

.videos-descr {
    font-size: 0.9rem;
    color: #606060;
}

@media (max-width: 575.98px) {
    #result-thumbnail {
        padding-right: 0;
    }
}