.header {
    border-bottom: solid #ced4da 1px;
}

.fa-bars {
    font-size: 1.5rem;
    margin-right: 10px;
}

#search-button {
    width: 60px;
    border-color: #696969;
    background-color: #696969;
}

@media (max-width: 575.98px) {
    #searchbar {
        padding-left: 0;
    }
}