h1, h2, h3, h4, h5, h6, p {
  margin: 0 !important;
}

.ytlogo {
  width: 100px;
}

.pointer {
  cursor: pointer;
}

.videos-title {
  font-size: 1rem;
  font-weight: 500;
}

.videos-details {
  font-size: 0.8rem;
  color: #606060;
}