.ytlogo {
  width: 100px;
}

.video-list {
  padding-left: 15px;
  padding-right: 15px;
}

.pointer {
  cursor: pointer;
}

#search-button {
  width: 60px;
  border-color: #696969;
  background-color: #696969;
}

.recomm-vids-details {
  min-height: 100px;
}

#select-video-title {
  font-size: 1rem;
}

.select-video-details {
  font-size: 0.9rem;
  color: #606060;
}