.ytlogo {
    width: 100px;
}

.pointer {
    cursor: pointer;
}

.videosTitle {
    font-size: 1rem;
    font-weight: 500;
}

.videosDetails {
    font-size: 0.75rem;
    color: #606060;
}

// #selectVideo {
//     width: 560px;
// }

#selectVideoTitle {
    font-size: 1rem;
}

.selectVideoDetails {
    font-size: 0.8rem;
    color: #606060;
}

#sidebar {
    max-width: 15%;
    background-color: #f5f5f5;
}

.sidebarItems {
    list-style: none;
}